<%= if @current_account do %>
<.link href={~p"/tasks"} class="ml-10 hover:underline">
Click here for TodoApp
</.link>
<% else %>
<div>
<.link href={~p"/accounts/log_in"} class="ml-10 hover:underline">
Login
</.link>
</div>
<div>
<.link href={~p"/accounts/register"} class="ml-10 hover:underline">
Register
</.link>
</div>
<% end %>